#TopBar {
    width: 50%;
    height: 50px;
    border-radius: 10px;
    box-shadow: black 4px 8px 0px;
    horizontal-align: center;
    vertical-align: top;
    background-image: url("s2r://panorama/images/battlepass/international2022/premium_reward_models/faceless-void-background_psd.vtex");
}

.CreepInfoContainer {
    horizontal-align: center;
    vertical-align: center;
    flow-children: right-wrap;
}

.RoundInfo {
    font-size: 25px;
    font-weight: bold;
    color:aqua;
    padding: 5px;
    margin-left: 30px;
    margin-right: 30px;
}